@(games: Seq[(shared.models.IdTypes.GameId, String)])

@main(s"games list") {
<header>
  <div class="wrap">
    <h1>Multiplayer Snake Game</h1>
    <br class="clearfix" />
  </div>
</header>
<div class="wrap">
  <div class="createGame">
    <h4>You can create a game</h4>
    <form action="@routes.Application.games" method="POST">
      <input type="text" name="gameName" placeholder="Game name">
      <input class="btn" type="submit" value="Create" />
    </form>

    <h4>Or Join an existing Game</h4>
    <ul>
      @for((gameId, gameName) <- games) {
        <li><a href="@routes.Application.game(gameId.id, None)">@{gameName}</a></li>
      }
    </ul>

  </div>
</div>
}
