@(gameUUID: java.util.UUID)

@main(s"game $gameUUID") {

  <script src="@routes.Assets.at("javascripts/scalajs/scalajs-game-extdeps.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/scalajs/scalajs-game-intdeps.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/scalajs/scalajs-game.js")" type="text/javascript"></script>
  <script type="text/javascript" charset="utf-8" src="@routes.Application.gameJs(gameUUID)"></script>
  <!-- for production (play dist), use the optimized version instead by uncommenting the next line and removing the three lines above -->
  <!-- <script src="@routes.Assets.at("javascripts/scalajs/scalajs-game-opt.js")" type="text/javascript"></script> -->
}
